@import '../App/variables.css';

.tile {
  background: #FFF;
  max-width: var(--tileWidth);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: .25em;
  & .imgCol {
    flex-grow: 1;
    padding: .25em;
    text-align: center;
    & img {
      max-width: 28rem;
    }
  }
  & .textCol {
    flex-grow: 16;
    padding: .25em;
    display: flex;
    flex-wrap: wrap;
    & .info,
    & .actions {
      flex-basis: 100%;
    }
    & .info {
      & .location {
        color: #777;
      }
      & h1 {
        font-size: 1.4em;
        font-weight: normal;
      }
    }
    & .actions {
      align-self: flex-end;
      justify-content: space-between;
      display: flex;
      font-size: 1.1em;
      & ol.actions {
        display: inline-block;
        & > li {
          list-style: none;
          display: inline-block;
          margin-right: .1em;
          & a {
            display: block;
            color: var(--actionColor);
            border: .1em solid;
            padding: .5em 1em;
            line-height: 1;
          }
        }
      }
      & .state {
        display: inline-block;
        border: .1em solid;
        font-weight: bold;
        padding: .5em 1em;
        line-height: 1;
        text-transform: capitalize;
        color: #E68229;
        &.live {
          color: #FFF;
          background: var(--liveColor);
        }
      }
    }
  }
  & .schedules {
    flex-basis: 100%;
    padding: 1em;
    & > div {
      font-weight: bold;
      text-transform: uppercase;
    }
    & ol {
      & > li {
        list-style: none;
        &.schedule {
          background: #888;
          color: #FFF;
          margin: .5em auto;
          padding: .25em .5em;
          box-shadow: 0 .1em .75em 0 rgba(0, 0, 0, .5);
          & > svg {
            max-height: 2em;
            padding: 0 .5em;
            vertical-align: middle;
          }
          & .time {
            font-weight: bold;
          }
        }
        &.addSchedule {
          & > a {
            color: var(--actionColor);
            padding: .25em;
            & b {
              padding: 0 .1em;
              font-size: 1.6em;
              line-height: .9em;
              display: inline-block;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
  }
}
