@import '../App/variables.css';

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-4em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tile {
  background: #FFF;
  max-width: var(--tileWidth);
  text-align: left;
  margin: auto;
  padding: .25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: appear ease 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  & .imgCol {
    padding: .25em;
    text-align: center;
    & img {
      max-width: 28rem;
    }
  }
  & .textCol {
    flex-grow: 1;
    padding: .25em 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    & .info {
      & .location {
        color: #777;
      }
      & h1 {
        font-size: 1.2em;
        font-weight: normal;
      }
    }
    & .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: .25em 0;
      & ol.actions {
        display: inline-block;
        & > li {
          list-style: none;
          display: inline-block;
          margin-right: .1em;
          & a {
            display: block;
            color: var(--actionColor);
            text-decoration: none;
            &:hover {
              background-color: var(--actionColor);
              color: #FFF;
            }
            &.delete {
              color: #BF0000;
              &:hover {
                background-color: #BF0000;
                color: #FFF;
              }
            }
          }
        }
      }
      & .state {
        display: inline-block;
        font-weight: bold;
        text-transform: capitalize;
        color: var(--draftColor);
        &.live {
          color: #FFF;
          background: var(--liveColor);
        }
      }
      & ol.actions > li a,
      & .state {
        border: .1em solid;
        line-height: 1;
        padding: .5em;
      }
    }
  }
  & .schedules {
    flex-basis: 100%;
    padding: .5em 1em 1em;
    animation-delay: .8s;
    & > div {
      font-weight: bold;
      text-transform: uppercase;
      padding: .25em 0;
      font-size: .9em;
    }
    & ol {
      & > li {
        list-style: none;
        &.schedule {
          background: #888;
          color: #FFF;
          margin: .5em auto;
          padding: .25em .5em;
          box-shadow: 0 .1em .75em 0 rgba(0, 0, 0, .5);
          &.occurred {
            background: #BBB;
            text-decoration: line-through;
          }
          & > svg {
            max-height: 1.3em;
            margin: 0 .5em;
            width: auto;
            vertical-align: middle;
          }
          & > span {
            vertical-align: middle;
          }
          & .time {
            font-weight: bold;
          }
        }
        &.addSchedule {
          & > a {
            color: var(--actionColor);
            padding: .25em;
            & b {
              padding: 0 .1em;
              font-size: 1.6em;
              line-height: .9em;
              display: inline-block;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
  }
}

@media (--mobile) {
  .tile {
    & .imgCol {
      & img {
        &.noImage {
          max-width: 16rem;
        }
      }
    }
  }
}

@media (--desktop) {
  .tile {
    & .textCol {
      & .info {
        & h1 {
          font-size: 1.4em;
        }
      }
      & .meta {
        font-size: 1.1em;
        & ol.actions > li a,
        & .state {
          padding: .5em 1em;
        }
      }
    }
    & .schedules {
      & ol {
        & > li {
          &.schedule {
            & > svg {
              max-height: 1.6em;
              margin: 0 .75em;
            }
          }
        }
      }
    }
  }
}
