.app__header {
  background: #EEE;
  padding: 0.5em;
  display: flex;
  margin: auto;
  & .header__logo {
    padding: 0.2em;
    color: #888;
    font-size: 1rem;
  }
  & .header__nav {
    flex-grow: 1;
    text-align: right;
    & a {
      display: inline-block;
      padding: 0.5em;
    }
  }
}
