header {
  background: #EEE;
  padding: 0.5em;
  display: flex;
  margin: auto;
  max-width: 64em;
  & a.logo {
    padding: 0.2em;
    color: #888;
    font-size: 1.5em;
    line-height: 1em;
    font-family: sans-serif;
  }
  & h1 {
    flex-grow: 1;
    flex-shrink: 1;
  }
  & nav {
    flex-grow: 1;
    text-align: right;
    & a {
      display: inline-block;
      padding: 0.5em;
    }
  }
}
