@import '../../containers/App/variables.css';

.header {
  background: #FFF;
  padding: .5em 0;
  box-shadow: 0 -1em 1em 1em rgba(0, 0, 0, .5);
  position: relative;
  z-index: 1;
  & .pageMargin {
    margin: auto;
    max-width: var(--pagewidth);
    display: flex;
    & .logoLink {
      flex-grow: 1;
      color: #1F2C4D;
      font-size: 2rem;
      padding: .25em 0 .25em .5em;
      & img {
        max-height: 2.5em;
        &.logo {
          margin-bottom: -.25em;
          max-width: 7.5em;
        }
        &.beta {
          width: 2em;
          margin: .5em;
          margin-left: 4em;
          vertical-align: bottom;
        }
      }
    }
    & .nav {
      flex-grow: 4;
      text-align: right;
      flex-wrap: wrap-reverse;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      & a {
        display: flex;
        align-items: center;
        padding: 0 .75em;
        line-height: 1.25;
        color: #1F2C4D;
      }
      & span.plus {
        display: inline-block;
        padding: .1em;
        font-size: 1.8em;
        line-height: .6;
        vertical-align: sub;
        font-weight: bold;
      }
      & .userIcon {
        width: 4rem;
        max-height: 4rem;
        margin: -.25em 0 -.25em .5em;
        border-radius: 50%;
        animation: bloom 1s;
      }
    }
  }
}

@keyframes bloom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (--mobile) {
  .header {
    & .pageMargin {
      & .logoLink {
        & img.beta {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

@media (--desktop) {
  .header {
    position: relative;
    z-index: 1;
    & .pageMargin {
      & .logoLink {
        padding-left: 1%;
        & img {
          max-height: 3em;
        }
        & img.beta {
          margin: .25em .5em;
          width: 2.5em;
        }
      }
      & .nav {
        padding: 0 1% 0 0;
        font-size: 1.1em;
        & a {
          line-height: 3.5;
        }
        & .userIcon {
          width: 5rem;
          max-height: 5rem;
        }
      }
    }
  }
}
