@import '../../containers/App/variables.css';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: .5s ease all;
  &.show {
    pointer-events: all;
    & > .modalBG {
      opacity: 1;
    }
    & > .modalFG {
      transform: perspective(60em) rotateX(0deg) scale(1);
      opacity: 1;
    }
  }
  & > .modalBG {
    position: absolute;
    transition: .5s ease all;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .75);
    opacity: 0;
  }
  & > .modalFG {
    max-width: 94vw;
    transition: .75s ease all;
    opacity: 0;
    transform: perspective(60em) rotateX(45deg) scale(.75);
    max-height: 94vh;
    overflow-y: auto;
    & .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: .25em;
      line-height: .75;
      font-size: 2em;
      text-decoration: none;
      color: #666;
      opacity: .5;
      transition: .2s ease all;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (--desktop) {
  .modal {
    & > .modalFG {
      & .close {
        padding: .5em;
      }
    }
  }
}
