@import '../../containers/App/variables.css';

.versionChange {
  padding: .25em;
  list-style: none;
  max-width: 40em;
  margin: auto;
  text-align: left;
  & .time {
    font-weight: bold;
  }
  & .timeFull {
    display: inline-block;
    vertical-align: middle;
    margin: .2em;
    padding: .2em;
    font-size: .75em;
    background-color: #AAA;
    color: #FFF;
    font-family: monospace;
    line-height: 1;
  }
  & .tag {
    background-color: var(--actionColor);
    display: inline-block;
    color: #FFF;
    padding: .25em;
    line-height: 1;
    font-family: monospace;
  }
  & .changes {
    display: block;
    vertical-align: top;
    padding: .5em;
    text-align: left;
    background: #FFF;
    color: #333;
    font-size: .8em;
    font-family: monospace;
    white-space: pre-wrap;
  }
}
