/* ==========================================
 * Defaults
 * These are general styles that apply to the whole app.
 * Not specific like typography but rather just helper classes, layout stuff etc
 * ========================================== */

html,
body {
  height: 100%;
}

*,
:before,
:after {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
  vertical-align: baseline;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
