@import '../../containers/App/variables.css';

:global div.react-datepicker__input-container {
  > input[type=text] {
    width: 9em;
  }
}

.listBox {
  overflow-x: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  display: table;
  & > li {
    display: table-row-group;
    & .row {
      display: table-row;
      list-style: none;
      align-items: center;
      & > li {
        display: table-cell;
        padding: .2em .1em;
        &:last-child {
          width: 12em;
          & > a {
            text-align: center;
          }
        }
      }
    }
  }
}

a.addButton {
  display: inline-block;
  background-color: var(--actionColor);
  color: #FFF;
  margin: .5em 0;
  padding: .5em 1em;
}

.delButton {
  cursor: pointer;
}

.maxReached {
  color: #777;
  margin: 1em 0;
  max-width: 32em;
}
