@import '../../containers/App/variables.css';

.fieldset {
  padding: 0 1em;
  min-width: auto;
  & > h1,
  & > h2 {
    color: #555;
    margin: .25em auto;
  }
  & > h1 {
    font-weight: normal;
    font-size: 1.25em;
  }
  & > h2 {
    margin-bottom: 1.5em;
  }
}

.hidden {
  display: none;
}

@media (--desktop) {
  .fieldset {
    min-height: 32rem;
  }
}
