.optionalNum {
  display: flex;
  align-items: center;
  min-height: 2.5em;
  & label {
    flex-grow: 1;
    width: 33%;
    &:last-child {
      width: 50%;
    }
    & .inputField {
      width: 8rem;
      animation: appear .2s;
    }
  }
}

@keyframes appear {
  from {
    margin-left: -4em;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
