@import '../../containers/App/variables.css';

.partner {
  color: #333;
  background: #FFF;
  text-align: center;
  & .section {
    max-width: 92rem;
    margin: auto;
    padding: 3em 1em;
    & h2 {
      font-size: 1.75em;
      font-weight: normal;
      font-family: Belgrano, sans-serif;
      margin: .5em auto;
      color: var(--actionColor);
    }
    &.heading {
      max-width: none;
      font-size: 1.2em;
      margin: 0;
      padding: 3em 1em;
      background: #333 url('/images/landing-hero.jpg') 50% 50% no-repeat;
      background-size: cover;
      color: #FFF;
      & h2 {
        color: inherit;
        font-family: inherit;
        font-weight: 300;
      }
    }
  }
  & a {
    margin: 1em auto;
    font-size: 1.5em;
  }
}
