@import '../../../containers/App/variables.css';

.iconRadio {
  & ol {
    margin: 1em auto .5em;
    display: flex;
    justify-content: space-between;
    color: #999;
    &.inlineList {
      color: var(--actionColor);
      border: .1em solid;
      & > li {
        flex-grow: 1;
        &:hover,
        &.selected {
          background-color: var(--actionColor);
          color: #FFF;
        }
        & svg {
          font-size: 1.25em;
        }
        & label {
          padding: .5em;
          transition: none;
          outline: none;
        }
      }
    }
    & > li {
      text-align: center;
      list-style: none;
      & label {
        padding: .5em;
        cursor: pointer;
        display: block;
        outline-color: inherit;
        &.inline {
          & svg {
            vertical-align: middle;
            padding: .5rem;
          }
        }
        &.notInline {
          &:focus {
            outline: none;
            box-shadow: 0 0 .15em .05em, inset 0 0 .15em .05em;
            &:active {
              box-shadow: none;
            }
          }
          & svg,
          & img {
            display: block;
            margin: 0 auto;
            padding: .5rem 0;
            height: 7rem;
            width: 9rem;
          }
        }
      }
      &:hover,
      &.selected {
        color: var(--actionColor);
        & label {
          cursor: default;
        }
      }
      & svg,
      & img {
        margin: 0 auto;
        padding: .5rem 0;
      }
      & input {
        display: none;
      }
    }
  }
}
