@import '../../containers/App/variables.css';

.loadingMessage {
  text-align: center;
  margin: auto;
  max-width: var(--pagewidth);
  padding: 4em 1em;
  font-size: 1.5em;
  & .ellipsis {
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 2em;
    background: url('http://localhost:3850/images/app-icon.png') 50% 50% no-repeat;
    background-size: contain;
    animation-duration: 1.5s;
    animation-name: ellipsis;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

@keyframes ellipsis {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
