.feature {
  & p {
    margin: 1em auto;
  }
  & select,
  & input {
    max-width: 100%;
    background-color: #FFF;
    padding: .5em;
    border: 1px solid #CCC;
    &:focus {
      outline: none;
    }
  }
}
