@import '../App/variables.css';

.organizerView {
  & .container {
    max-width: var(--pagewidth);
    margin: auto;
    padding: 0 1em;
  }
  & .name {
    background: #FFF;
    padding: .5em 0;
    animation: slide-down .6s ease;
    & .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      & a.rename {
        display: inline-block;
        vertical-align: text-top;
        color: #777;
        font-size: .8em;
        opacity: .4;
        transition: .25s all ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    & h1 {
      font-family: var(--serifFont);
      font-size: 2em;
      font-weight: normal;
      flex-grow: 4;
      padding: .25em 0;
    }
    & select {
      padding: .125em .5em;
      background: #E5E5E5;
      color: #666;
      border: 1px solid #CCC;
      min-width: 16em;
    }
  }
  & h2 {
    display: none;
    font-family: var(--serifFont);
    font-size: 1.75em;
    font-weight: normal;
    margin: 1em auto;
    max-width: var(--tileWidth);
  }
  & .sessions {
    margin: 2em auto;
    & .unassigned {
      & a.toggle {
        text-align: center;
        display: block;
        padding: .5em;
        font-size: 1.1em;
      }
      & li {
        list-style: none;
      }
    }
  }
}

.title {
  font-size: 1.25em;
}

.sessionsList {
  & > li {
    list-style: none;
    margin: 1em auto;
    max-width: var(--tileWidth);
    &.new {
      padding: 2em 0;
      & > a {
        padding: .75em .5em;
        font-size: 1.2em;
        display: block;
        & b {
          padding: 0 .1em;
          font-size: 1.6em;
          line-height: .9em;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(4em);
  }
  to {
    transform: translateY(0);
  }
}

.banner {
  background-color: #FFF;
  overflow: hidden;
}

.bannerImage {
  height: 16em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: appear .4s ease-in-out;
  transition: 1.5s ease opacity;
  & > .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    & label {
      font-size: .9em;
    }
  }
}

@media (--desktop) {
  .bannerImage {
    font-size: 1.1em;
  }
  .organizerView {
    & h2 {
      display: block;
    }
    & .sessions {
      margin: 4em auto;
    }
  }
}
