@import '../App/variables.css';

.organizerView {
  & .container {
    max-width: var(--pagewidth);
    margin: auto;
    padding: 0 1em;
  }
  & .name {
    background: #FFF;
    padding: .5em 0;
    & .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      & a.rename {
        color: #777;
        font-size: .8em;
        opacity: .4;
        transition: .25s all ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    & h1 {
      font-family: var(--serifFont);
      font-size: 2em;
      font-weight: normal;
      flex-grow: 4;
      padding: .25em 0;
    }
    & select {
      padding: .125em .5em;
      background: #E5E5E5;
      color: #666;
      border: 1px solid #CCC;
      min-width: 16em;
    }
  }
  & h2 {
    font-family: var(--serifFont);
    font-size: 1.75em;
    font-weight: normal;
    margin: 1em auto;
    max-width: var(--tileWidth);
  }
  & .sessions {
    margin: 4em auto;
    & .unassigned {
      & a.toggle {
        text-align: center;
        display: block;
        padding: .5em;
        font-size: 1.1em;
      }
      & li {
        list-style: none;
      }
    }
  }
}

.title {
  font-size: 1.25em;
}

.sessionsList {
  & > li {
    list-style: none;
    margin: 1em auto;
    max-width: var(--tileWidth);
    &.new {
      padding: 2em 0;
      & > a {
        padding: .75em .5em;
        text-align: center;
        font-size: 1.2em;
        display: block;
        color: #FFF;
        background: var(--actionColor);
        & b {
          padding: 0 .1em;
          font-size: 1.6em;
          line-height: .9em;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }
    }
  }
}

.bannerImage {
  height: 16em;
  & > .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    & a {
      text-decoration: none;
      padding: 1em;
      color: #FFF;
      opacity: .5;
      transition: .5s ease all;
      &:hover {
        opacity: 1;
      }
    }
  }
}
