@import '../App/variables.css';

.container {
  max-width: var(--pagewidth);
  margin: auto;
}

.title {
  font-size: 1.25em;
}

.sessionsList {
  & > li {
    list-style: none;
    margin: 1em 0;
  }
}
