.form {
  display: flex;
}

.nav {
  flex-basis: 12em;
  background-color: #EFEFEF;
  padding: 2em .5em;
  font-size: 1.2em;
  & > a {
    display: block;
    padding: .5em 1em;
  }
}

.tabs {
  flex-basis: 75%;
  padding: 2em 2%;
}

.active {
  font-weight: bold;
}

.hiddenTab {
  display: none;
}

.saveState {
  color: green;
  float: right;
}
