@import '../../containers/App/variables.css';

.form {
  display: flex;
}

.nav {
  padding: 1em .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > .navLinks {
    & > h1 {
      margin: .5em 0;
      padding: 0 1rem;
      font-size: .75em;
      font-weight: 300;
      text-align: center;
      color: #777;
      text-transform: uppercase;
    }
    & > a {
      padding: 1rem .75rem;
      line-height: 1.25;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        text-decoration: none;
        & span.tickNone {
          color: inherit;
        }
      }
      &:hover,
      &.active {
        font-weight: bold;
        letter-spacing: -.041em;
      }
      &.active {
        cursor: default;
      }
      & span {
        letter-spacing: 0;
        pointer-events: none;
        padding: 0 0 0 .2em;
        font-family: monospace;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 0;
        &.tick {
          color: #88C541;
        }
        &.tickNone {
          color: #999;
          font-weight: 100;
          font-family: inherit;
        }
      }
    }
  }
  & .pending {
    font-size: .78em;
    padding: 1rem .25rem;
    margin: .25rem 1rem;
    color: #555;
    line-height: 1.6;
  }
}

.tabs {
  flex-grow: 6;
  background-color: #E6E6E6;
  max-width: 100%;
  & .hiddenTab {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}

.formNav {
  margin: 0 1em;
  padding: 1em 0;
  max-width: var(--fieldWidth);
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  flex-direction: row-reverse;
  & > a {
    cursor: pointer;
    font-size: 1.2em;
    font-family: Belgrano, serif;
    padding: .5em 1.5em;
    line-height: 1;
    background-color: var(--actionColor);
    color: #FFF;
    &.backButton {
      background-color: transparent;
      color: var(--actionColor);
      &.inactive {
        visibility: hidden;
      }
    }
    &.inactive {
      cursor: default;
      text-decoration: none;
    }
  }
}

.saveState {
  text-align: right;
  font-weight: bold;
  transition: .1s ease all;
  opacity: 1;
  max-width: 42em;
  padding: .5em;
  &.unsaved {
    color: transparent;
  }
  &.changed {
    color: #E4C383;
  }
  &.saving {
    color: #88A743;
  }
  &.saved {
    color: #51A743;
    opacity: 0;
    transition: .1s ease color, 3s ease opacity;
  }
  &.error {
    color: #B32A2A;
    opacity: .8;
  }
}

@media (--desktop) {
  .nav {
    font-size: 1.25em;
    width: 12em;
    box-shadow: .1em 0 0 0 #D7D7D7;
    z-index: 1;
    & > .navLinks {
      & > h1 {
        margin: 2em 0 .5em;
        padding: 1rem 1.5rem;
        text-align: left;
      }
      & > a {
        padding: 1.25rem 1.5rem;
      }
    }
    & .pending {
      border-top: 1px solid;
      padding: 1.75rem .25rem 1rem;
      border-top: 1px solid;
      margin: 4rem 1.5rem .75rem;
    }
  }
  .tabs {
    padding: 1em 2%;
  }
}

@media (--mobile) {
  .form {
    flex-wrap: wrap;
  }
  .nav {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    & > .navLinks {
      display: flex;
      flex-wrap: wrap;
      & > h1 {
        flex-basis: 100%;
      }
      & > a {
        flex-grow: 1;
        text-align: center;
        justify-content: center;
      }
    }
    & > .pending {
      text-align: right;
    }
  }
}
