.form {
  display: flex;
}

.nav {
  flex-basis: 12em;
  background-color: #EFEFEF;
  padding: 4em .5em;
  font-size: 1.2em;
  & > a {
    display: block;
    padding: .5em 1em;
  }
}

.tabs {
  flex-basis: 75%;
  padding: 2em 2%;
}

.active {
  font-weight: bold;
}

.hiddenTab {
  display: none;
}

.saveState {
  text-align: right;
  font-weight: bold;
  transition: .1s ease all;
  opacity: 1;
  &.unsaved {
    color: #BFBFBF;
  }
  &.changed {
    color: #E4C383;
  }
  &.saving {
    color: #88A743;
  }
  &.saved {
    color: #51A743;
    opacity: 0;
    transition: .1s ease color, 1s ease opacity;
  }
}
