@import '../../containers/App/variables.css';

:global {
  div.react-datepicker__day--selected {
    &,
    &:hover {
      background-color: var(--actionColor);
      border-radius: 0;
    }
  }
}

.field {
  position: relative;
  padding: .75em 0;
  form[data-hasFocus='false'] &:hover {
    & .tip {
      opacity: 1;
      bottom: 100%;
    }
  }
  &[data-hasfocus='true'] {
    & .tip {
      opacity: 1;
      bottom: 100%;
    }
  }
  & .label {
    display: block;
    line-height: 2;
  }
  & .tip {
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: .3s all ease;
    background-color: #FFF;
    padding: .75em;
    pointer-events: none;
    bottom: 0%;
    top: auto;
    &::before {
      content: 'i';
      position: absolute;
      border-radius: 1em;
      background-color: #00AEEF;
      color: #FFF;
      line-height: 1;
      width: 1em;
      text-align: center;
      font-style: italic;
      font-family: serif;
      font-size: 1.5em;
      top: -.5em;
      left: -.5em;
    }
    & .example {
      font-weight: 300;
    }
  }
  & .inputWrap {
    width: var(--fieldWidth);
    max-width: 100%;
  }
  & input[type='radio'] {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    &:focus {
      outline: .15em solid #00AEEF;
      outline-offset: .1em;
    }
  }
}

.input {
  width: var(--fieldWidth);
  max-width: 100%;
  &:focus {
    outline-width: .15em;
    outline-color: #00AEEF;
    background-color: #FFF;
  }
}

@media (min-width: 36rem) {
  .field {
    .tip {
      top: 2em;
      left: 26em;
      bottom: auto;
      max-width: 20em;
    }
    form[data-hasFocus='false'] &:hover {
      & .tip {
        opacity: 1;
        bottom: auto;
      }
    }
    &[data-hasfocus='true'] {
      & .tip {
        opacity: 1;
        bottom: auto;
      }
    }
  }
}
