.field {
  position: relative;
  padding: .5em 0;
}

.label {
  display: block;
  line-height: 2;
}

.input {
  padding: .4em;
  line-height: 1;
  border: .1em solid #C2C2C2;
  background-color: #EFEFEF;
  transition: .2s ease background;
  outline-offset: .1em;
  width: 22em;
  max-width: 100%;
  &:focus {
    outline: .2em solid #00AEEF;
    background-color: #FFF;
    & + .tip {
      opacity: 1;
    }
  }
  textarea& {
    min-height: 5em;
  }
}

.tip {
  position: relative;
  opacity: 0;
  transition: .5s all ease;
  background-color: #FFF;
  padding: .75em;
  max-width: 16em;
  position: absolute;
  top: 2em;
  left: 26em;
  &:before {
    content: 'i';
    position: absolute;
    border-radius: 1em;
    background-color: #00AEEF;
    color: #FFF;
    line-height: 1;
    width: 1em;
    text-align: center;
    font-style: italic;
    font-family: serif;
    font-size: 1.5em;
    top: -.5em;
    left: -.5em;
  }
}
