.sticky {
  position: relative;
  & .fixed {
    display: none;
  }
}

@media (min-width: 36rem) and (min-height: 36rem) {
  .sticky {
    & .fixed {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
    }
  }
}
