@import '../../containers/App/variables.css';

.form {
  background-color: #EFEFEF;
  input[type='submit'] {
    cursor: pointer;
    background-color: var(--actionColor);
    color: #FFF;
    padding: .5em 1.5em;
    line-height: 1;
    font-size: 1.2em;
  }
}

.formBody {
  max-width: var(--pagewidth);
  margin: auto;
}

.titleInner {
  max-width: var(--pagewidth);
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.titleBar {
  background-color: #182750;
  color: #FFF;
  padding: .75em;
  font-size: 1.25em;
  box-shadow: inset 0 .25em .5em rgba(0, 0, 0, .5);
  h1,
  h2,
  h3 {
    display: inline-block;
    padding: .5em .75em;
    font-weight: normal;
    line-height: 1;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
    > i {
      opacity: .5;
    }
  }
  .previewButton {
    font-family: Belgrano, serif;
    background-color: #1A90CD;
    color: #FFF;
    padding: .5em 1.5em;
    line-height: 1;
    margin-right: 1%;
  }
}
