@import '../../containers/App/variables.css';

.button {
  display: inline-block;
  margin: .25em .5em;
  padding: .5em 1.5em;
  text-align: center;
  min-width: 6em;
  font-family: Belgrano, serif;
  background-color: #1A90CD;
  color: #FFF;
  line-height: 1;
  transition: .2s all ease;
  text-decoration: none;
  &:active {
    transform: scale(.9);
  }
  &:hover {
    text-decoration: none;
    background-color: #0B6898;
  }
  &.draft {
    background-color: var(--draftColor);
    &:hover {
      background-color: color(var(--draftColor) lightness(-12%));
    }
  }
  &.live {
    background-color: var(--liveColor);
    &:hover {
      background-color: #6FA72D;
    }
  }
  &.disabled {
    background-color: #AAA;
    pointer-events: none;
    cursor: wait;
    &:hover {
      background-color: #777;
    }
  }
}
