@import '../../containers/App/variables.css';

.iconRadio {
  & ol {
    display: flex;
    & > li {
      text-align: center;
      list-style: none;
      color: #AAA;
      flex-grow: 1;
      flex-basis: 5em;
      text-transform: uppercase;
      & label {
        cursor: pointer;
      }
      &.selected {
        color: var(--actionColor);
        & label {
          cursor: default;
        }
      }
      & img {
        display: block;
        margin: .5em auto;
        height: 6rem;
      }
      & input {
        display: none;
      }
    }
  }
}
