@import '../../containers/App/variables.css';

.searchableSelect {
  position: relative;
  & > input {
    cursor: default;
    &:focus {
      cursor: text;
    }
    &.output {
      position: absolute;
      left: 0;
      pointer-events: none;
      transition: none;
      color: #777;
    }
  }
  & .clear {
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 0;
    padding: 1em .75em;
    margin-top: -1em;
    font-family: monospace;
    font-size: 1.5em;
    opacity: .5;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  & .searchResults {
    width: 100%;
    background: #FFF;
    position: absolute;
    z-index: 1;
    margin-top: .1em;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, .3);
    & > li {
      padding: .25em;
      list-style: none;
      & > b {
        pointer-events: none;
      }
      &.highlight {
        background: var(--actionColor);
        color: #FFF;
      }
    }
  }
}
