.socialIcons {
  display: inline-block;
  margin-left: .5em;
  & > li {
    list-style: none;
    display: inline-block;
    & a {
      padding: .25em;
      display: block;
      line-height: 1;
      transition: .4s all ease;
      & img {
        max-width: 48px;
        display: inline-block;
        transition: .2s all ease;
        transform: scale(.75);
      }
      &:hover img {
        transform: scale(1);
      }
    }
  }
}
