.socialIcons {
  display: inline-block;
  padding-left: .5em;
  & > li {
    list-style: none;
    display: inline-block;
    & a {
      padding: .4em;
      display: block;
      line-height: 1;
    }
  }
}
