@import '../../../containers/App/variables.css';

.field {
  max-width: 32em;
}

.isFree {
  margin: 3em auto;
  font-size: 1.15em;
}

.changeType {
  font-size: .9em;
  margin: .25em auto;
}

.iconAlert,
.freeIcon {
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  padding: .25em;
  vertical-align: middle;
}

.freeIcon {
  height: 2em;
  width: 2em;
  display: inline-block;
  border: .15em solid #88C541;
  background-color: #FFF;
  font-size: 1.25em;
  margin-right: .5em;
  & img {
    width: 1em;
  }
}

.iconAlert {
  margin-right: .5em;
  padding: .4em;
  background-color: var(--darkBlue);
  color: #FFF;
  line-height: .5;
  font-size: 1.5em;
  width: 1.7em;
}

.firstFree {
  & input[type='checkbox'] {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.questions {
  & > li {
    list-style: none;
    margin: 2em 0;
    padding: 1em 0;
    &.bind {
      max-width: 24em;
    }
    & label {
      display: block;
      margin: 0 auto .5em;
      font-size: 1.1em;
    }
  }
}

.notice {
  display: flex;
  align-items: flex-start;
  margin: 2em auto;
  padding: 1em;
  background: #FFF;
  box-shadow: .2em .2em .25em rgba(0, 0, 0, .25);
  & h2 {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
  }
}

.isPaid {
  margin: 1em auto;
  font-size: 1.25em;
  font-weight: bold;
}
