@import "../App/variables.css";

.chart {
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  background-color: #FFF;
  & svg {
    margin: auto;
  }
  & h1 {
    font-size: 1.5em;
  }
  & h2 {
    font-size: 1.25em;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > li {
    list-style: none;
    max-width: 52em;
    overflow: auto;
  }
}

.versionChanges {
  & > li {
    padding: .25em;
    list-style: none;
    & .changes {
      display: inline-block;
      vertical-align: top;
      margin: 0 .5em;
      padding: .5em;
      text-align: left;
      background: #EEE;
      color: #333;
      font-size: .9em;
      font-family: monospace;
      white-space: pre;
    }
  }
  & .time {
    font-weight: bold;
  }
  & .tag {
    background-color: var(--actionColor);
    display: inline-block;
    color: #FFF;
    padding: .25em;
    line-height: 1;
  }
}
