.chart {
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  background-color: #FFF;
  & svg {
    margin: auto;
  }
  & h1 {
    font-size: 1.5em;
  }
  & h2 {
    font-size: 1.25em;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > li {
    list-style: none;
    max-width: 56em;
    overflow: auto;
  }
}
