@import '../../containers/App/variables.css';

.noAuth {
  text-align: center;
  margin: auto;
  max-width: var(--pagewidth);
  margin: 0 auto;
  padding: 2em 1em;
  & > ol {
    margin: 1em auto;
    & > li {
      list-style: none;
      display: inline-block;
      & + li {
        margin-left: 1em;
      }
      & > a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
        background: var(--actionColor);
        color: #FFF;
      }
    }
  }
}
