@import '../../containers/App/variables.css';

.noAuth {
  text-align: center;
  margin: auto;
  max-width: var(--pagewidth);
  margin: 1em auto;
  & > p {
    margin: 1em auto;
    & > a {
      display: inline-block;
      padding: 1em;
      line-height: 1;
      background: var(--actionColor);
      color: #FFF;
    }
  }
}
