.info {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  & > .message {
    padding: 1em;
    font-size: 1.25em;
    color: #666;
  }
}
