@import '../../App/variables.css';

.modal {
  background: #E6E6E6;
  max-width: 94vw;
  padding: 1.5em;
  width: 36em;
  text-align: center;
  &.small {
    width: 24em;
  }
  &.large {
    width: 42em;
    padding: 2.5em;
  }
  & h1 {
    font-weight: normal;
    margin: .5em auto;
  }
  & h2 {
    font-size: 1.1em;
    font-weight: bold;
  }
  & h3 {
    font-size: 1.1em;
    font-weight: normal;
  }
  & p {
    margin: .5em auto;
  }
  & input,
  & textarea {
    width: 100% !important;
  }
  & a {
    font-size: 1.2em;
  }
}

@media (--desktop) {
  .modal {
    font-size: 1.1em;
  }
}