.imageField {
  max-width: 28em;
  &.loading {
    cursor: wait;
    & img.preview {
      filter: blur(.1em) saturate(0);
    }
  }
  & .status {
    display: inline-block;
    padding: .5em;
  }
  & .choose {
    display: inline-block;
    border: 2px solid #BBB;
    background-color: rgba(230, 230, 230, .75);
    margin: .5em 0;
    padding: .25em .5em;
    cursor: pointer;
    &:hover,
    &:focus {
      background: #FFF;
      color: #444;
    }
    & + .choose {
      margin-left: .5em;
    }
    & .text {
      padding: .25em 1em;
      display: inline-block;
    }
    & img {
      max-width: 2.5em;
    }
  }
  & img.preview {
    transition: all ease 1s;
  }
  & input[type=file] {
    display: none;
  }
}
