.mapView {
  margin: 1em 0;
  border: 1px solid #C2C2C2;
  height: 16em;
  width: 24em;
  &:after {
  	content: "Drag map pin to refine location";
  	text-align: center;
  	display: block;
  	background: #FFF;
  }
  & :global .gmnoprint {
    cursor: move;
    cursor: -webkit-grab;
  }
}
