@import '../App/variables.css';

.list {
  margin: auto;
  padding: 0 1em;
  max-width: 96rem;
}

.organizerTile {
  display: flex;
  align-items: justify;
  justify-content: space-between;
}

.icon {
  max-width: 4em;
  margin-right: .5em;
}

.nSessions {
  color: #777;
  padding: .25em;
  &::before {
    content: ' - ';
  }
}

a.page {
  padding: .5em;
  color: #FFF;
  background-color: var(--actionColor);
  text-decoration: none;
}

.pagination {
  text-align: center;
  padding: 1em;
}

.createdAt {
  color: #888;
}
