@import '../App/variables.css';

.list {
  margin: auto;
  padding: 0 1em;
}

a.page {
  padding: .5em;
  color: #FFF;
  background-color: var(--actionColor);
  text-decoration: none;
}

.pagination {
  text-align: center;
  padding: 1em;
}

.createdAt {
  color: #888;
}
