@import '../../../containers/App/variables.css';

:global div.react-datepicker__input-container {
  > input[type=text] {
    width: 9em;
  }
}

.listBox {
  overflow-x: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  display: table;
  & > li {
    display: table-row-group;
    &:first-child .row > li {
      padding: .2em 1em .2em .1em;
    }
    & .row {
      display: table-row;
      list-style: none;
      align-items: center;
      & > li {
        display: table-cell;
        padding: .2em .1em;
        &:last-child {
          width: 12em;
          & > a {
            text-align: center;
          }
        }
      }
    }
  }
}

a.addButton {
  background-color: var(--liveColor);
  font-size: 1.2em;
  color: #FFF;
  margin: .5em 0;
  &:hover {
    background-color: var(--liveColorDark);
  }
  &:active {
    background-color: var(--liveColorDark);
  }
  & b {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
  }
}

.delButton {
  cursor: pointer;
  min-width: 2em;
  color: var(--actionColor);
  font-size: .9em;
  padding: .25em;
  &:hover {
    filter: brightness(.6);
  }
  & b {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    padding-bottom: .12em;
  }
}

.maxReached {
  color: #777;
  margin: 1em 0;
  max-width: 32em;
}
