@import '../../../containers/App/variables.css';

.searchableSelect {
  position: relative;
  max-width: 100%;
  & > input {
    cursor: default;
    &.output {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      color: inherit;
    }
  }
  & a.action {
    transition: .2s all ease;
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 0;
    padding: 1em 1.25rem;
    margin-top: -1em;
    font-family: monospace;
    font-size: 1.5em;
    opacity: .5;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    &.clear {
      &::before {
        content: '\0000D7';
      }
    }
    &.hide {
      opacity: 0;
    }
  }
  & .searchResults {
    width: 100%;
    background: #FFF;
    position: absolute;
    z-index: 1;
    margin-top: .1em;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, .3);
    max-height: 22.5rem;
    overflow-y: auto;
    & > li {
      list-style: none;
      line-height: 1;
      position: relative;
      & > .text {
        padding: .5em;
        font-weight: bold;
        display: block;
        & > b {
          pointer-events: none;
          font-weight: normal;
        }
      }
      & > .action {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        padding: .5em;
      }
      &.highlight {
        background: var(--actionColor);
        color: #FFF;
      }
    }
  }
}
