@import '../App/variables.css';

.sessionList {
  & > h1 {
    font-family: Belgrano, sans-serif;
    font-size: 1.75em;
    font-weight: normal;
    margin: .75em auto;
    max-width: 96rem;
    text-align: left;
  }
  & p.intro {
    text-align: center;
    margin: 1em auto;
    padding: .25em 0;
  }
  & ol.list {
    & > li {
      list-style: none;
      margin: 1em auto;
    }
  }
  & > p {
    margin: 1em auto;
    text-align: center;
    & a {
      font-size: 1.5em;
      margin: .5em auto;
    }
  }
}
