@import '../App/variables.css';

.sessionList {
  & p.intro {
    text-align: center;
    margin: 1.5em auto;
  }
  & ol.list {
    & > li {
      list-style: none;
      margin: 1em auto;
    }
  }
  & > p {
    margin: 1em auto;
    text-align: center;
  }
  & .add {
    display: inline-block;
    padding: 1em;
    line-height: 1;
    background: var(--actionColor);
    color: #FFF;
  }
}
