@lost flexbox flex;

.page__login {
  background: #E6E6E6;
}

.login__section {
  padding: 40px;
  lost-center: 1440px;
  justify-content: center;
  > span {
    lost-column: 1/4;
  }
  .decoration--or {
    position: relative;
    text-align: center;
    margin-top: 15px;
    .or--label {
      display: inline-block;
      position: relative;
      z-index: 2;
      background-color: #E6E6E6;
      color: #CCC;
      padding: 0 20px;
    }
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
      background: #CCC;
    }
  }
  .decoration--continue {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
    color: #444;
  }
  .login__form {
    margin-top: 15px;
  }
}

.btn--fb {
  background-color: #3B5998;
}

.btn__submit {
  margin-top: 15px;
}

.link__create-account {
  display: block;
  margin-top: 15px;
  font-size: 1.4rem;
  text-align: center;
  color: #444;
}
