.page__login {
  background: #E6E6E6;
}

.input__container {
  position: relative;
  .input--label {
    display: block;
    color: #444;
  }
  .input--text {
    background: white;
    border: solid thin #ccc;
    padding: 5px;
    border-radius: 2px;
  }
}

.btn--fb {
  background-color: #395A93;
}

.sp-login-form {
  max-width: 16em;
  margin: auto;
}
