@import '../App/variables.css';

.container {
  max-width: var(--pagewidth);
  margin: auto;
  padding: 0 .5em;
  text-align: center;
  & > h1 {
    font-size: 1.5em;
    padding: .75em 0;
  }
}

.landing {
  text-align: center;
  & .sections {
    & section {
      background-color: #EEE;
      padding: 2em 0;
      &.featured {
        background-color: var(--lightBlue);
        color: #FFF;
        & h1 {
          color: inherit;
        }
      }
      & .columns {
        & > .column {
          padding: 1em;
        }
      }
      & h1,
      & h2 {
        font-weight: normal;
        margin: 1.5rem auto;
        padding: 0;
        line-height: 1.2;
      }
      & h1 {
        font-family: Belgrano, sans-serif;
        font-size: 1.8em;
        color: var(--lightBlue);
      }
      & h2 {
        font-size: 1.4em;
        max-width: 60rem;
        font-weight: 300;
      }
      & p {
        margin: 2rem auto;
        max-width: 82rem;
      }
      & a {
        display: inline-block;
        font-family: Belgrano, sans-serif;
        padding: .5em 1em;
        font-size: 1.5em;
        color: #FFF;
      }
    }
  }
}

@keyframes zoomin {
  from {
    opacity: 0;
    transform: translateX(-2em) scale(.75);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-4em) scale(.6);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.stats {
  color: var(--actionColor);
  font-weight: bold;
}

ol.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 48em;
  margin: 2em auto 0;
  line-height: 1.4;
  > li {
    list-style: none;
    animation-fill-mode: forwards;
    animation-duration: .75s;
    opacity: 0;
    &:nth-child(2) {
      animation-delay: .6s;
    }
    &:nth-child(3) {
      animation-delay: .8s;
    }
    &:nth-child(4) {
      animation-delay: 1.4s;
    }
    &:nth-child(5) {
      animation-delay: 1.6s;
    }
    &.arrow {
      width: 1em;
      font-family: sans-serif;
      font-size: 2.5em;
      animation-name: zoomin;
      color: rgba(255, 255, 255, .5);
      &::before {
        content: '🢂';
      }
    }
    &.step {
      width: 10em;
      padding: .5em;
      animation-name: appear;
      & b {
        color: var(--liveColor);
        text-shadow: 0 0 2px black, 0 0 3px black;
        &.yourSessions {
          color: var(--actionColor);
        }
      }
      & i {
        font-size: .8em;
        color: #CCC;
        font-style: normal;
      }
    }
  }
}

@media (--desktop) {
  .landing {
    font-size: 1.1em;
    & section {
      & .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 56em;
        margin: auto;
        & > .column {
          padding: 0 2em;
          flex-basis: 28rem;
          flex-grow: 1;
          max-width: 60rem;
        }
      }
    }
  }
}
