@import '../App/variables.css';

.container {
  max-width: var(--pagewidth);
  margin: auto;
  padding: 0 .5em;
  text-align: center;
  & > h1 {
    font-size: 1.5em;
    padding: .75em 0;
  }
}

.landing {
  text-align: center;
  & .sections {
    & section {
      background-color: #EEE;
      padding: 2em 0;
      &.featured {
        background-color: var(--lightBlue);
        color: #FFF;
        & h1 {
          color: inherit;
        }
      }
      & .columns {
        & > .column {
          padding: 1em;
        }
      }
      & h1,
      & h2 {
        font-weight: normal;
        margin: 1.5rem auto;
        padding: 0;
        line-height: 1.2;
      }
      & h1 {
        font-family: Belgrano, sans-serif;
        font-size: 1.8em;
        color: var(--lightBlue);
      }
      & h2 {
        font-size: 1.4em;
        max-width: 60rem;
        font-weight: 300;
      }
      & p {
        margin: 2rem auto;
        max-width: 96rem;
      }
      & a {
        display: inline-block;
        font-family: Belgrano, sans-serif;
        padding: .5em 1em;
        font-size: 1.5em;
        color: #FFF;
      }
    }
  }
}

@media (--desktop) {
  .landing {
    font-size: 1.1em;
    & section {
      & .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & > .column {
          padding: 0 2em;
          flex-basis: 28rem;
          flex-grow: 1;
          max-width: 60rem;
        }
      }
    }
  }
}
