.list {
  margin: 1em auto;
  padding: .5em;
  max-width: 60em;
  & ol {
    & > li {
      list-style: none;
      & .count {
        background: #FFF;
        color: #000;
        min-width: auto;
        padding: .25em;
        display: inline-block;
        line-height: 1;
      }
      & .name {
        display: inline-block;
        min-width: 12em;
      }
    }
  }
}

.actions {
  & > a {
    padding: .25em;
    min-width: 3em;
  }
}

.parent {
  color: #888;
}

.children {
  margin-left: .25em;
  padding-left: .25em;
  > li {
    list-style: none;
    line-height: 1.2em;
    &::before {
      color: #888;
      content: '├ ';
    }
    &:last-child::before {
      content: '└ ';
    }
  }
}

.time {
  color: #888;
  font-size: .9em;
}
