@import './variables.css';

html {
  height: 100%;
  font-size: 56.25%;
  font-family: var(--bodyFont);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 36rem) {
  html {
    font-size: 62.5%;
  }
  .root {
    padding-top: 5em;
  }
}

@media (min-width: 104rem) {
  html {
    font-size: 68.75%;
  }
}

.root {
  font-size: 16px;
  font-size: 1.6rem;
  margin: auto;
  color: var(--defaultColor);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  & a {
    color: inherit;
    cursor: pointer;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
  vertical-align: baseline;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

:global .clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* Buttons */

:global .btn {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  border: 0;
  padding: 8px 35px;
  border-radius: 2px;
  color: white !important;
  text-align: center;
  text-decoration: none;
  &.btn__large {
    font-size: 2rem;
  }
  &.btn__small {
    font-size: 1.4rem;
  }
  &.btn__submit {
    background: #89C9E3;
  }
}

:global a {
  user-select: none;
}

:global body .cc_container {
  font-family: 'Open Sans', sans-serif;
  background: var(--darkBlue);
  & .cc_btn {
    background-color: var(--actionColor);
    color: #FFF;
    border-radius: 0;
    font-family: Belgrano, serif;
    font-size: 1.25em;
    margin-top: .5em;
  }
  & .cc_logo {
    display: none;
  }
}
