:root {
  /* Colors */
  --darkBlue: #182750;
  --lightBlue: #1A90CD;
  --errorRed: #DE4C28;
  --validGreen: #57A540;
  --warnYellow: #E2A81C;
  --defaultColor: var(--darkBlue);
  --actionColor: var(--lightBlue);
  --liveColor: #88C540;
  --draftColor: #E68229;
  --grey: #E6E6E6;

  /* Fonts */
  --bodyFont: 'Open Sans', 'Helvetica', sans-serif;
  --headingFont: 'Belgrano', 'Georgia', 'Times', serif;
  --serifFont: 'Belgrano', serif;

  /* Layout / Structure */
  --pagewidth: 144rem;
  --tileWidth: 96rem;
  --fieldWidth: 36rem;
  --iconSize: 4rem;
  --iconSizeBig: 6rem;
  --mobileBp: 36rem;
  --comfyBp: 96rem;
}

@custom-media --mobile (max-width: 576px), (max-width: 1152px) and (min-device-pixel-ratio: 2);
@custom-media --desktop (min-width: 576px), (min-width: 1152px) and (min-device-pixel-ratio: 2);
