:root {
  /* Colors */
  --darkBlue: #182750;
  --lightBlue: #1A90CD;
  --errorRed: #DE4C28;
  --validGreen: #57A540;
  --warnYellow: #E2A81C;
  --actionColor: var(--lightBlue);

  /* Fonts */
  --bodyFont: 'Open Sans', 'Helvetica', sans-serif;
  --headingFont: 'Belgrano', 'Georgia', 'Times', serif;

  /* Layout / Structure */
  --pagewidth: 144rem;
}
