@import '../../containers/App/variables.css';

.titleBar {
  text-align: left;
  background-color: #182750;
  color: #FFF;
  padding: .5em;
  font-size: 1.1em;
  box-shadow: 0 .2em .2em 0 rgba(0, 0, 0, .25);
  h1,
  h2,
  h3 {
    display: inline-block;
    padding: .25em .75rem;
    font-weight: normal;
    line-height: 1;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
    > i {
      opacity: .5;
    }
  }
  & .titleInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .actions {
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    & a {
      font-family: Belgrano, serif;
      color: #FFF;
      padding: .5em 1.5em;
      line-height: 1;
      margin: .1em 0 .1em 1em;
      transition: .2s all ease;
      text-decoration: none;
      &:active {
        transform: scale(.9);
      }
      &.previewButton {
        background-color: #1A90CD;
        &:hover {
          background-color: #0B6898;
        }
      }
      &.actionUnpublish {
        background-color: var(--draftColor);
        &:hover {
          filter: brightness(.8);
        }
      }
      &.actionPublish {
        background-color: var(--liveColor);
        &:hover {
          background-color: #6FA72D;
        }
      }
      &.disabled {
        background-color: #AAA;
        pointer-events: none;
        cursor: wait;
      }
    }
  }
}

@media (--desktop) {
  .titleBar {
    padding: .75em;
    font-size: 1.25em;
    h1,
    h2,
    h3 {
      padding: .5em .75em;
    }
    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1em;
    }
    & .actions {
      margin-right: 1%;
      & a {
        padding: .5em 1.5em;
        margin-left: 1em;
      }
    }
    & .titleInner {
      max-width: var(--pagewidth);
      margin: auto;
      align-items: center;
    }
  }
}
