@import '../../containers/App/variables.css';

.addRelation {
  background-color: var(--actionColor);
  color: #FFF;
  padding: .5em;
  line-height: 1;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #FFF;
    color: var(--actionColor);
  }
}
