@import '../../containers/App/variables.css';

ol.messages {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  & > li {
    list-style: none;
    color: #FFF;
    font-size: 1.1em;
    transition: .2s all ease;
    opacity: 1;
    &.hidden {
      opacity: 0;
    }
    &.standard {
      background-color: grey;
      & a:hover {
        color: grey;
      }
    }
    &.success {
      background-color: var(--liveColor);
      & a:hover {
        color: var(--liveColor);
      }
    }
    &.warn {
      background-color: var(--draftColor);
      & a:hover {
        color: var(--draftColor);
      }
    }
    &.error {
      background-color: var(--errorColor);
      & a:hover {
        color: var(--errorColor);
      }
    }
    & > .inner {
      max-width: var(--pagewidth);
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > span.text {
        padding: .75em 1.5em;
        & a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: #BEF1BE;
            background: none;
          }
        }
      }
      & a {
        text-decoration: none;
        padding: .05em .25em;
        &:hover {
          background: #FFF;
        }
      }
      & .dismiss {
        font-size: 2em;
        line-height: 1;
        opacity: .5;
        transition: .3s opacity ease;
        margin: .2em;
        border-radius: 50%;
        &:hover {
          opacity: 1;
        }
      }
    }
    & .actions {
      flex-grow: 1;
      & > a {
        padding: .25em .5em;
        border: .1em solid;
      }
    }
  }
}

@media (--desktop) {
  ol.messages {
    position: absolute;
    top: auto;
  }
}
