@import '../../containers/App/variables.css';

ol.messages {
  & > li {
    list-style: none;
    color: #FFF;
    font-size: 1.1em;
    transition: .3s all ease;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
    &.hidden {
      opacity: 0;
    }
    &.standard {
      background-color: grey;
    }
    &.success {
      background-color: var(--liveColor);
    }
    &.warn {
      background-color: var(--draftColor);
    }
    &.error {
      background-color: var(--errorColor);
    }
    & > .inner {
      max-width: var(--pagewidth);
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > span {
        padding: .75em 1.5em;
        & a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: #BEF1BE;
          }
        }
      }
      & .dismiss {
        font-size: 2em;
        line-height: 1;
        text-decoration: none;
        opacity: .5;
        transition: .3s opacity ease;
        margin: .2em;
        padding: .05em .25em;
        border-radius: 50%;
        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, .2);
        }
      }
    }
  }
}

@media (--desktop) {
  ol.messages {
    position: absolute;
    left: 0;
    right: 0;
  }
}
