@import '../App/variables.css';

:root {
  --sectionWidth: 128rem;
}

.sessionView {
  overflow: hidden;
}

.actions {
  float: right;
  & a {
    display: inline-block;
    padding: .4em .6em;
    background: var(--actionColor);
    color: #FFF;
  }
}

.inner {
  max-width: var(--sectionWidth);
  margin: auto;
}

.detailsSection {
  max-width: var(--sectionWidth);
  margin: 4em auto;
  background: #FFF;
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & .detailsImg {
    flex-grow: 1;
    max-width: 48rem;
  }
  & .detailsText {
    flex-grow: 3;
    font-size: 1.1em;
    & h1 {
      font-size: 1.5em;
      margin: 1em auto;
    }
  }
  & .detailsImg,
  & .detailsText {
    padding: .5em;
  }
  & .dateDetail {
    & .timespan {
      padding: 0 .5em;
      font-weight: bold;
    }
    & .duration {
      padding: 0 1em;
      color: #888;
      & img {
        margin: 0 .2em;
        vertical-align: initial;
      }
    }
  }
  & .dateDetail,
  & .locationDetail {
    margin: 1em auto;
    & > img {
      height: var(--iconSizeBig);
      width: var(--iconSizeBig);
      margin-right: 1em;
      padding: .25em;
      opacity: .7;
    }
  }
  & .detailText {
    display: inline-block;
    vertical-align: top;
  }
  & .detailPrice {
    text-align: right;
    padding: .5em 0;
    color: #888;
    & img {
      margin-right: .5em;
    }
  }
  & .contactButton {
    text-align: right;
    & a {
      display: inline-block;
      padding: .4em 4em;
      background: var(--actionColor);
      color: #FFF;
      text-align: center;
    }
  }
}

.shareSection {
  background-color: #FFF;
  color: #888;
  text-align: right;
  margin: 1em 0;
  padding: .25em;
  font-size: 1.5em;
}

.descriptionSection {
  max-width: var(--sectionWidth);
  margin: 1em auto;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  h2,
  h3,
  h4 {
    margin: .5em auto;
    font-weight: normal;
    font-family: Belgrano, serif;
  }
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  & .description {
    white-space: pre-wrap;
    max-width: 60rem;
    color: #444;
  }
}

.aboutSection {
  background-color: #FFF;
  padding: 2em;
  & h2 {
    font-family: Belgrano, serif;
    font-size: 1.6em;
    font-weight: normal;
  }
  & ol {
    font-size: 1.4em;
    padding: .5em 0;
    & > li {
      list-style: none;
      padding: 1em .5em;
      max-width: 6em;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      line-height: 1;
      & .iconText {
        color: var(--actionColor);
        display: block;
        margin: .5rem 0;
        font-size: 2em;
      }
      & .iconImg {
        margin: .5rem 0;
        height: 2em;
      }
    }
  }
}

.mainCol {
  flex-grow: 4;
  padding: 1em;
  & h3 {
    font-size: 1.4em;
    font-family: inherit;
    margin: .75em 0;
  }
  & > .infoSection {
    margin-top: 3em;
  }
}

.sideCol {
  flex-grow: 1;
  flex-basis: 20%;
  align-content: flex-start;
  min-width: 20rem;
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  & h3 {
    text-align: right;
  }
  & .info {
    padding: .5em;
    flex-grow: 1;
  }
}

.floatingInfo {
  background-color: #FFF;
  padding: 1em;
  font-size: 1.1em;
  &.organizerInfo {
    text-align: right;
  }
  &.pricing {
    display: flex;
    flex-wrap: wrap;
    & > span {
      flex-grow: 1;
      &.price {
        text-align: right;
        white-space: nowrap;
        & > img {
          margin-right: .5em;
        }
      }
    }
  }
}

.mapSection {
  min-height: 24rem;
  height: 100vh;
  max-height: 72rem;
  & .noLocation {
    text-align: center;
    font-size: 1.4em;
    padding: 2em 0;
    color: #888;
    & img {
      max-height: 2em;
      margin-right: .5em;
    }
  }
}

a.organizerLink {
  color: var(--actionColor);
  & > img {
    width: 1em;
  }
}
