@import '../App/variables.css';

:root {
  --sectionWidth: 112rem;
}

.sessionView {
  overflow: hidden;
  text-align: center;
}

.inner {
  max-width: var(--sectionWidth);
  margin: auto;
}

.detailsSection {
  max-width: var(--sectionWidth);
  text-align: left;
  margin: 2em auto;
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  & .detailsImg,
  & .detailsText {
    padding: 1em;
  }
  & .detailsImg {
    max-width: 48rem;
  }
  & .detailsText {
    flex-grow: 1;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    & .state {
      color: #AAA;
      margin-left: .5em;
      font-size: .8em;
      font-weight: normal;
    }
    & h1 {
      font-size: 1.5em;
      padding: .25em 0;
    }
    & .dateDetail {
      & .timespan {
        padding: 0 .5em;
        font-weight: bold;
      }
      & .duration {
        padding: 0 1em;
        color: #888;
        & img {
          margin: 0 .2em;
          vertical-align: initial;
        }
      }
    }
    & .dateDetail,
    & .locationDetail {
      display: flex;
      align-items: center;
      margin: .25em 0;
      & > img {
        height: var(--iconSizeBig);
        width: var(--iconSizeBig);
        margin-right: .75em;
        padding: .25em 0;
        opacity: .8;
      }
    }
    & .detailPrice,
    & .contactButton {
      text-align: right;
      align-self: flex-end;
    }
    & .detailPrice {
      padding: .5em 0;
      color: #888;
      & img {
        margin-right: .5em;
      }
      & b {
        font-weight: normal;
        color: var(--defaultColor);
      }
    }
    & .contactButton {
      & a {
        display: inline-block;
        padding: .4em 1em;
        background: var(--actionColor);
        color: #FFF;
        text-align: center;
      }
    }
  }
  & .detailText {
    display: inline-block;
    vertical-align: top;
  }
}

.shareSection {
  background-color: #FFF;
  color: #888;
  text-align: right;
  margin: 1em 0;
  padding: .25em;
  font-size: 1.5em;
}

.descriptionSection {
  text-align: left;
  max-width: var(--sectionWidth);
  margin: 1em auto;
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  h2,
  h3,
  h4 {
    margin: .5em auto;
    font-weight: normal;
    font-family: Belgrano, serif;
  }
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  & .description {
    white-space: pre-wrap;
    max-width: 60rem;
    color: #444;
  }
}

.aboutSection {
  text-align: left;
  background-color: #FFF;
  padding: 2em;
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .2);
  position: relative;
  z-index: 2;
  & h2 {
    font-family: Belgrano, serif;
    font-size: 1.6em;
    font-weight: normal;
  }
  & ol {
    font-size: 1.4em;
    padding: .5em 0;
    & > li {
      list-style: none;
      padding: 1em .5em;
      max-width: 6em;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      line-height: 1;
      & .iconText {
        color: var(--actionColor);
        display: block;
        margin: .5rem 0;
        font-size: 2em;
      }
      & .iconImg {
        margin: .5rem 0;
        height: 2em;
      }
    }
  }
}

.mainCol {
  flex-grow: 3;
  padding: .5em;
  & h3 {
    font-size: 1.4em;
    font-family: inherit;
    margin: .75em 0;
  }
  & > .infoSection {
    margin-top: 3em;
  }
}

.sideCol {
  flex-grow: 1;
  flex-basis: 20%;
  align-content: flex-start;
  min-width: 20rem;
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  & h3 {
    text-align: right;
  }
  & .info {
    padding: .5em;
    flex-grow: 1;
  }
}

.floatingInfo {
  background-color: #FFF;
  padding: 1em;
  font-size: 1.1em;
  &.organizerInfo {
    text-align: right;
  }
  &.disabilityInfo {
    text-align: right;
  }
  &.pricing {
    display: flex;
    flex-wrap: wrap;
    & > span {
      flex-grow: 1;
      &.price {
        text-align: right;
        white-space: nowrap;
        & > img {
          margin-right: .5em;
        }
      }
    }
  }
}

.mapSection {
  position: relative;
  & > .address {
    position: absolute;
    font-size: 1.1em;
    background-color: #FFF;
    color: #888;
    z-index: 1;
    right: 10%;
    width: 30rem;
    max-width: 65%;
    padding: 2rem;
    text-align: left;
    & > p:first-child {
      font-weight: bold;
    }
  }
  & > .mapFrame {
    min-height: 24rem;
    height: 64rem;
    max-height: 60vh;
  }
  & .noLocation {
    text-align: center;
    font-size: 1.4em;
    padding: 2em 0;
    color: #888;
    & img {
      max-height: 2em;
      margin-right: .5em;
    }
  }
}

a.organizerLink {
  color: var(--actionColor);
  & > img {
    width: 1em;
  }
}

@media screen and (min-width: 36rem) {
  .detailsSection {
    margin: 2em auto;
  }
}
