@import '../App/variables.css';

:root {
  --sectionWidth: 112rem;
}

.sessionView {
  overflow: hidden;
  text-align: center;
}

.content {
  animation: appear .4s;
}

.inner {
  max-width: var(--sectionWidth);
  margin: auto;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.detailsSection {
  max-width: var(--sectionWidth);
  text-align: left;
  margin: 1em auto;
  padding: .5em;
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  & .detailsImg,
  & .detailsText {
    padding: .25em;
  }
  & .detailsImg {
    max-width: 46rem;
    &.noImg {
      display: none;
    }
  }
  & .detailsText {
    flex-grow: 1;
    display: flex;
    flex-basis: 45%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    & .state {
      color: #AAA;
      margin-left: .5em;
      font-size: .8em;
      font-weight: normal;
    }
    & h1 {
      font-size: 1.4em;
      padding: .25em;
      line-height: 1.3;
      align-self: stretch;
      & .lastUpdated {
        font-weight: normal;
        font-size: .5em;
        float: right;
      }
    }
    & .dateDetail,
    & .locationDetail {
      display: flex;
      margin: .25em 0;
      & > img {
        height: 4rem;
        width: 4rem;
        margin-right: .75em;
        padding: .25em 0;
        opacity: .66;
      }
    }
    & .dateDetail {
      & .dateList {
        display: inline-block;
        vertical-align: top;
        & > li {
          list-style: none;
          color: #999;
          &.nextOccurring {
            color: var(--defaultColor);
            & .duration {
              color: #888;
              & img {
                opacity: 1;
              }
            }
            & .timespan {
              font-weight: bold;
            }
          }
          &.expandSchedule {
            color: var(--actionColor);
            cursor: pointer;
            &:hover {
              color: #034D73;
            }
          }
          & .duration {
            padding-left: .5em;
            white-space: nowrap;
            text-decoration: inherit;
            & img {
              margin: 0 .2em;
              vertical-align: initial;
              opacity: .5;
            }
          }
        }
      }
    }
    & .locationDetail {
      align-items: center;
      & .detailText {
        display: inline-block;
        vertical-align: top;
      }
    }
    & .detailPrice,
    & .contactButton {
      text-align: right;
      align-self: flex-end;
    }
    & .detailPrice {
      padding: .5em 0;
      color: #888;
      & img {
        margin-right: .5em;
      }
      & b {
        font-weight: normal;
        color: var(--defaultColor);
      }
    }
    & .contactButton {
      & a {
        display: inline-block;
        padding: .4em 1em;
        background: var(--actionColor);
        color: #FFF;
        text-align: center;
      }
    }
  }
}

.shareSection {
  background-color: #FFF;
  color: #888;
  text-align: right;
  margin: .5em 0;
  padding: .25em;
  font-size: 1.25em;
  &.disabled {
    & sub {
      display: inline-block;
      padding: 0 .5em;
      font-size: .75em;
      vertical-align: middle;
    }
    & a {
      pointer-events: none;
      opacity: .5;
    }
  }
}

.descriptionSection {
  text-align: left;
  max-width: var(--sectionWidth);
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  h2,
  h3,
  h4 {
    margin: .25em auto .5em;
    font-weight: normal;
    font-family: Belgrano, serif;
  }
  h2 {
    font-size: 1.6em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  & .description {
    white-space: pre-wrap;
    max-width: 60rem;
    color: #444;
  }
}

.aboutSection {
  text-align: left;
  background-color: #FFF;
  padding: 1em;
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .2);
  position: relative;
  z-index: 1;
  & h2 {
    font-family: Belgrano, serif;
    font-size: 1.6em;
    font-weight: normal;
  }
  & ol {
    text-transform: capitalize;
    font-size: 1.2em;
    padding: .5em 0;
    & > li {
      list-style: none;
      padding: .5em;
      max-width: 6em;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      line-height: 1;
      & .iconText,
      & svg {
        color: var(--actionColor);
      }
      & svg {
        max-width: 2.25em;
        max-height: 2.25em;
      }
      & .iconText {
        display: block;
        margin: .5rem 0;
        font-size: 2em;
      }
      & .iconImg {
        margin: .5rem 0;
        height: 2em;
      }
    }
  }
}

.mainCol {
  flex-grow: 3;
  padding: .5em;
  & h3 {
    font-size: 1.3em;
    font-family: inherit;
    margin: .75em 0;
  }
  & > .infoSection {
    margin-top: 2em;
  }
}

.lastUpdated {
  font-size: .8em;
  color: #888;
  margin: .5em auto;
  display: block;
  &::before {
    content: 'â— ';
    color: #AAA;
  }
  &.new::before {
    color: var(--liveColor);
  }
  &.recent::before {
    color: var(--actionColor);
  }
}

.sideCol {
  flex-grow: 1;
  flex-basis: 20%;
  align-content: flex-start;
  min-width: 20rem;
  padding: .5em;
  display: flex;
  flex-direction: column;
  & h3 {
    text-align: right;
  }
  & .info {
    padding: .5em;
    flex-grow: 1;
  }
}

.floatingInfo {
  background-color: #FFF;
  padding: 1em;
  &.organizerInfo {
    text-align: right;
  }
  &.disabilityInfo {
    text-align: right;
  }
  &.pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & .price {
      display: flex;
      & > span {
        flex-grow: 1;
        &.amount {
          text-align: right;
          white-space: nowrap;
          & > img {
            margin-right: .5em;
          }
        }
      }
    }
  }
}

.mapSection {
  position: relative;
  & > .address {
    position: absolute;
    box-shadow: inset 0 .75em .75em -.75em;
    font-size: 1em;
    background-color: rgba(255, 255, 255, .9);
    color: #888;
    z-index: 1;
    right: 5%;
    width: 20rem;
    max-width: 65%;
    padding: 2rem;
    text-align: left;
    & > p:first-child {
      font-weight: bold;
    }
    & a {
      color: var(--actionColor);
    }
  }
  & > .mapFrame {
    min-height: 24rem;
    height: 64rem;
    max-height: 60vh;
  }
  & .noLocation {
    text-align: center;
    font-size: 1.4em;
    padding: 2em 0;
    color: #888;
    & img {
      max-height: 2em;
      margin-right: .5em;
    }
  }
}

ol.socialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > li {
    list-style: none;
  }
  & a.organizerLink {
    font-size: .9em;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

a.organizerLink {
  color: var(--actionColor);
  word-break: break-all;
  & > img {
    width: 1em;
  }
}

@media (--desktop) {
  .detailsSection {
    margin: 2em auto;
    & .detailsImg,
    & .detailsText {
      padding: .5em;
    }
    & .detailsImg {
      &.noImg {
        display: block;
      }
    }
    & .detailsText {
      font-size: 1.1em;
      & h1 {
        font-size: 1.5em;
      }
      & .dateDetail,
      & .locationDetail {
        & > img {
          height: var(--iconSizeBig);
          width: var(--iconSizeBig);
        }
      }
    }
  }
  .floatingInfo {
    font-size: 1.1em;
  }
  .descriptionSection {
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.7em;
    }
    h4 {
      font-size: 1.4em;
    }
  }
  .aboutSection {
    padding: 2em;
    & ol {
      font-size: 1.4em;
      & > li {
        padding: .5em;
      }
    }
  }
  .shareSection {
    font-size: 1.5em;
  }
  .mapSection {
    & > .address {
      font-size: 1.1em;
      width: 30rem;
    }
  }
  .mainCol {
    padding: .5em;
    & h3 {
      font-size: 1.4em;
    }
    & > .infoSection {
      margin-top: 3em;
    }
  }
}

.freeTag {
  background: var(--defaultColor);
  color: #FFF;
}

.activitiesList {
  display: flex;
  display: none;
  justify-content: space-between;
  & > li {
    list-style: none;
    padding: .25em;
    background: #DDD;
    text-transform: uppercase;
  }
}
