@import '../App/variables.css';

:root {
  --sectionWidth: 128rem;
}

.sessionView {
  overflow: hidden;
}

.actions {
  float: right;
  & a {
    padding: .4em .6em;
    background: var(--actionColor);
    color: #FFF;
  }
}

.inner {
  max-width: var(--sectionWidth);
  margin: auto;
}

.detailsSection {
  max-width: var(--sectionWidth);
  margin: 1em auto;
  background: #FFF;
  padding: 2em;
  display: flex;
  & h1 {
    font-size: 1.6em;
    margin: .5em auto;
  }
  & .detailsImg {
    flex-basis: 50%;
  }
  & .detailsText {
    flex-basis: 50%;
  }
  & .detail {
    margin: 1em auto;
    padding-left: 4em;
  }
  & .detailPrice {
    text-align: right;
  }
}

.shareSection {
  background-color: #FFF;
  text-align: right;
  margin: 1em 0;
  padding: 1em;
  font-size: 1.2em;
}

.descriptionSection {
  max-width: var(--sectionWidth);
  margin: 1em auto;
  padding: 2em;
  display: flex;
  h2,
  h3,
  h4 {
    margin: .5em auto;
    font-weight: normal;
    font-family: Belgrano, serif;
  }
  h2 {
    font-size: 2.4em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  & .description {
    white-space: pre-wrap;
    max-width: 80rem;
  }
}

.aboutSection {
  background-color: #FFF;
  padding: 2em;
  & h2 {
    font-family: Belgrano, serif;
    font-size: 1.6em;
    font-weight: normal;
  }
  & ol {
    font-size: 1.4em;
    color: var(--actionColor);
    & > li {
      list-style: none;
      padding: 1em;
    }
  }
}

.mainCol {
  flex-grow: 4;
  padding: 1em;
  & h3 {
    font-size: 1.4em;
    font-family: inherit;
  }
}

.sideCol {
  flex-grow: 1;
  flex-basis: 20%;
  min-width: 12rem;
  padding: 1em;
  & h3 {
    text-align: right;
  }
}

.floatingInfo {
  background-color: #FFF;
  padding: 1em;
}

.contactButton {
  text-align: right;
  & a {
    padding: .4em .6em;
    background: var(--actionColor);
    color: #FFF;
  }
}
